{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %} 


<div class="container">
    <textarea id="chat-log" cols="20" rows="20" required></textarea><br>
    <input type="text" id="chat-message-input" size="20"><br>
    <input type="button" value="Send" id="chat-message-submit">
</div>
<script>
    var ws =  new WebSocket('ws://127.0.0.1:8000/ws/sc/')
    ws.onopen = function(){
        console.log('Websocket connection open...')
    }
    ws.onmessage = function(event){
        const data = JSON.parse(event.data)
        document.querySelector('#chat-log').value += (data.msg + '\n')
    }
    ws.onclose = function(event){
        console.error('Websocket connection closed unexpectedly', event)
    };

    document.getElementById('chat-message-submit').onclick = function(event){
        const messageInputDom = document.getElementById('chat-message-input')
        const message = messageInputDom.value 
        ws.send(JSON.stringify({
            'msg':message
        }))
        messageInputDom.value = ''
    }
</script>

 
{% endblock content %}