{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<textarea id="chat-log" cols="50" rows="20"></textarea><br>
<input type="text" id="chat-message-input" size="45"><br>
<input type="button" value="Send" id="chat-message-submit">

<script>
    var ws =  new WebSocket('ws://127.0.0.1:8000/ws/sc/')
    ws.onopen = function(){
        console.log('Websocket connection open...')
        ws.send('Hi from client')
    }
    ws.onmessage = function(event){
        console.log('message Received from server', event)
    }
    ws.onclose = function(event){
        console.error('Websocket connection closed unexpectedly', event)
    };
</script>

 
{% endblock content %}